<h2><%=l(:'bsc.label_new_checkpoint')%></h2>
<%= render_project_bsc_tab('checkpoints') %>

<%= labelled_form_for :checkpoint, @checkpoint,
                          :url => { :controller => 'bsc_checkpoints', :action => 'create', :project_id => @project },
                          :html => {:id => 'checkpoint-form', :class => 'tabular'} do |f| %>

  <%= error_messages_for 'checkpoint' %>

  <div class="box">
    <%= render :partial => 'form', :locals => {:f => f} %>
  </div>

  <%= submit_tag(l(:button_create)) %>
  <%= preview_link preview_checkpoints_path(:project_id => @project), 'checkpoint-form' %>
<% end %>
<div id="preview" class="wiki"></div>
