<%= render_header_message('deliverables') %>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default panel-table expandible">
			<div class="panel-heading">
				<div class="panel_name"><%=l(:"bsc.label_deliverables")%></div>
			</div>
			<div class="panel-body">
				<table class="list" id="deliverables_table">
					<thead>
						<tr>
							<th><%=l(:"bsc.label_subject")%></th>
							<th><%=l(:"bsc.label_status")%></th>
							<th><%=l(:"bsc.label_delivery_date")%></th>
							<th><%=l(:"bsc.label_assigned_to")%></th>
							<th><%=l(:"bsc.label_done_ratio")%></th>
						</tr>
					</thead>
					<tbody>
						<% @deliverables_table.each_with_index do |data,index| %>
							<tr class="income <%=deliverable_table_row_status(data[:start])%>">
								<td><%=link_to(data[:title], issue_path(data[:id]))%></td>
								<td><%=data[:status]%></td>
								<td><%=data[:start]%></td>
								<td><%=data[:assigned_to]%></td>
								<td><%=data[:done_ratio]%></td>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="gradiant_layer"></div>
    	</div>
    	<%=render_link_show_more('deliverables_table')%>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default panel-calendar">
			<div class="panel-heading">
				<div class="panel_name"><%=l(:"bsc.label_deliverables_calendar")%></div>
			</div>
			<div class="panel-body">
				<div class="calendar_prev"></div>
				<div id="calendar_container_limit">
					<hr/>
					<div id="calendar_container">
						<div id="calendar0" class="calendar calendar_hide"></div>
						<div id="calendar1" class="calendar"></div>
						<div id="calendar2" class="calendar"></div>
						<div id="calendar3" class="calendar"></div>
						<div id="calendar4" class="calendar calendar_hide"></div>
					</div>
				</div>
				<div class="calendar_next"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var calendar_events = [
{
    events: <%=@calendar_data.to_json.html_safe%>,
    color: 'transparent'
}];

load_calendars(calendar_events);
calendar_tooltips();
</script>