<%= render_header_message('effort') %>

<%= render_date_selector %>

<div class="row">
  <div class="col-md-10">
  	<div class="panel panel-default panel-table">
		  <div class="panel-heading">
        <div class="panel_name"><%=l(:"bsc.label_effort")%></div>
      </div>
		  <div class="panel-body">
				<table class="list" id="efforts_table">
					<thead>
						<tr>
							<th><%=l(:"bsc.label_profile")%></th>
							<th><%=l(:"bsc.label_profiles_number")%></th>
							<th><%=l(:"bsc.label_scheduled_effort")%></th>
							<th><%=l(:"bsc.label_incurred_effort")%></th>
							<th><%=l(:"bsc.label_remaining_effort")%></th>
							<th><%=l(:"bsc.label_ideal_capacity")%></th>
						</tr>
					</thead>
					<tbody>
						<% @table_data.each do |data| %>
							<% tips = data[:ideal_capacity_details].present? %>
							<tr class="<%='alert' if tips%>" >
								<td><%=data[:name]%></td>
								<td><%=data[:number]%></td>
								<td><%=decimal(data[:scheduled])%></td>
								<td><%=decimal(data[:incurred])%></td>
								<td><%=decimal(data[:remaining])%></td>
								<td class="details" title="<%=data[:ideal_capacity_details] if tips%>">
									<span>
										<%value = (data[:ideal_capacity].to_f < 0) ? l(:"bsc.label_error") : data[:ideal_capacity]%>
										<%=(tips and data[:ideal_capacity].to_f < 0) ? value.to_s+": "+data[:ideal_capacity_details] : value%>
									</span>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
    </div>
	</div>
	<div class="cold-md-2"></div>
</div>

<div class="row">
  <div class="col-md-9">
  	<div class="panel panel-default panel-chart">
      <div class="panel-heading">
        <div class="panel_name"><%=l(:"bsc.label_checkpoints")%></div>
      </div>
      <div class="panel-body">
      	<div class="chart_legend"></div>
        <div id="effort_chart" class="chart"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  	<div class="panel panel-default panel-table expandible">
		  <div class="panel-heading">
        <div class="panel_name"><%=l(:"bsc.label_checkpoints")%></div>
      </div>
		  <div class="panel-body">
		  	<table id="effort_chart_table" class="list">
					<thead>
						<tr>
							<th><%=l(:"label_date")%></th>
							<th><%=l(:"bsc.label_scheduled_effort")%></th>
							<th><%=l(:"bsc.label_scheduled_finish_date")%></th>
						</tr>
					</thead>
					<tbody>
						<% @chart_data.each_with_index do |data, index| %>
							<tr id="<%='row_'+(@chart_data.length - index - 1).to_s%>" class="table_row">
								<td><b><%=data[:date]%></b></td>
								<td><%=decimal(data[:scheduled_hours])%></td>
								<td><%=data[:scheduled_finish_date]%></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="gradiant_layer"></div>
    </div>
    <%=render_link_show_more('effort_chart_table')%>
	</div>
</div>

<script>
	chart = new Morris.Line({
	  element: 'effort_chart',
    resize: true,
	  data: <%=@chart_data.to_json.html_safe%>,
	  hoverCallback: function(index, options, content) {
	  	highlight_row($('tr#row_'+index));

      date = "<div class='chart_data_title'>"+options.data[index]['date']+"</div>";

      incurred_hours = '<div class="chart_data incurred_hours"><span class="chart_value">'+hours(options.data[index]['incurred_hours'])+'</span><span class="chart_label"><%=l(:"bsc.label_incurred_effort")%>:</span></div>';
      scheduled_hours = '<div class="chart_data scheduled_hours"><span class="chart_value">'+hours(options.data[index]['scheduled_hours'])+'</span><span class="chart_label"><%=l(:"bsc.label_scheduled_effort")%>:</span></div>';

	  	text = "<div class='variations'>";
	  	text += '<div class="chart_data remaining_hours"><span class="chart_value">'+hours(options.data[index]['scheduled_hours']-options.data[index]['incurred_hours'])+'</span><span class="chart_label"><%=l(:"bsc.label_remaining_effort")%>:</span></div>';
      text += "</div>"

      return(date+incurred_hours+scheduled_hours+text)
	  },
	  xkey: 'date',
	  ykeys: ['incurred_hours','scheduled_hours'],
	  labels: ['<%=l(:"bsc.label_incurred_effort")%>', '<%=l(:"bsc.label_scheduled_effort")%>'],
	  lineColors: ['#9FCCF1', '#FFA972'],
    pointFillColors: ['#459DE3', '#FF8000'],
	  smooth: false,
	  yLabelFormat: function(value){
	  	return hours(value)
	  }
	});

	$("tr.alert").tooltip({ show: false, hide:false });

	// Chart legend
	chart.options.labels.forEach(function(label, i){
    var legendItem = $('<span></span>').text(label).prepend('<span class="point">&#9679;</span>');
    legendItem.find('.point').css('color', chart.options.pointFillColors[i]);
    $('.chart_legend').append(legendItem)
	})
</script>