<% content_for :header_tags do %>
  <%= javascript_include_tag "effort", :plugin => 'redmine_bsc' %>
<% end %>

<div id="scheduled_end_date" class="highlight_field blue_field">
	<div class="highlight_field_header"><%=l(:"bsc.label_scheduled_finish_date")%></div>
	<div class="highlight_field_content"><%=date_es(@scheduled_finish_date)%></div>
</div>
<div id="scheduled_end_date" class="highlight_field grey_field">
	<div class="highlight_field_header"><%=l(:"bsc.label_remaining_days")%></div>
	<div class="highlight_field_content"><%=(Date.today < @scheduled_finish_date) ? (@scheduled_finish_date - Date.today).to_i : '-'%></div>
</div>

<table class="list" id="efforts_table">
	<theader>
		<tr>
			<th><%=l(:"bsc.label_profile")%></th>
			<th><%=l(:"bsc.label_profiles_number")%></th>
			<th><%=l(:"bsc.label_scheduled_effort")%></th>
			<th><%=l(:"bsc.label_incurred_effort")%></th>
			<th><%=l(:"bsc.label_remaining_effort")%></th>
			<th><%=l(:"bsc.label_ideal_capacity")%></th>
		</tr>
	</theader>
	<tbody>
		<% @table_data.each do |data| %>
			<% tips = data[:ideal_capacity_details].present? %>
			<tr class="<%='alert' if tips%>" title="<%=data[:ideal_capacity_details] if tips%>" >
				<th><%=data[:name]%></th>
				<td><%=data[:number]%></td>
				<td><%=decimal(data[:scheduled])%></td>
				<td><%=decimal(data[:incurred])%></td>
				<td><%=decimal(data[:remaining])%></td>
				<td>
					<% value = (data[:ideal_capacity].to_f < 0) ? l(:"bsc.label_error") : data[:ideal_capacity] %>
					<%= tips ? value+": "+data[:ideal_capacity_details] : value %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div id="effort_chart_div">
	<div id="effort_chart" class="chart"></div>
</div>

<div id="effort_chart_table_div">
	<h2><%=l(:"bsc.label_checkpoints")%></h2>
	<table id="effort_chart_table" class="list">
		<theader>
			<tr>
				<th><%=l(:"label_date")%></th>
				<th><%=l(:"bsc.label_scheduled_effort")%></th>
				<th><%=l(:"bsc.label_scheduled_finish_date")%></th>
			</tr>
		</theader>
		<tbody>
			<% @chart_data.each_with_index do |data, index| %>
				<tr id="<%='row_'+(@chart_data.length - index - 1).to_s%>" class="row <%='hidden_row' if index>=8%>">
					<th><%=data[:date]%></th>
					<td><%=decimal(data[:scheduled_hours])%></td>
					<td><%=data[:scheduled_finish_date]%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% if @chart_data.length > 8 %>
		<%=render_link_show_more('effort_chart_table')%>
	<% end %>
</div>

<script>
	new Morris.Line({
	  element: 'effort_chart',
	  data: <%=@chart_data.to_json.html_safe%>,
	  hoverCallback: function(index, options, content) {
	  		text = "";
	  		for (key in options.data[index]['scheduled_hours_details']){
	  			text += key+": "+hours(options.data[index]['scheduled_hours_details'][key])+'</br>';
	  		}

	  		$('tr.active').removeClass('active');
	  		$('tr#row_'+index).addClass('active');

	  		hours_remaining = 'Restante: '+hours(options.data[index]['scheduled_hours']-options.data[index]['incurred_hours'])+'</br>';

	        return(content+hours_remaining);
	    },
	  xkey: 'date',
	  ykeys: ['incurred_hours','scheduled_hours'],
	  labels: ['Horas incurridas', 'Horas estimadas'],
	  smooth: false,
	  yLabelFormat: function(value){
	  	return hours(value)
	  }
	});

	$( "tr.alert" ).tooltip({ show: false, hide:false });
</script>