<div id="scheduled_margin" class="highlight_field blue_field">
	<div class="highlight_field_header"><%=l(:"bsc.label_scheduled_margin")%></div>
	<div class="highlight_field_content"><%=percent(@scheduled_margin)%></div>
</div>
<div id="target_margin" class="highlight_field grey_field">
	<div class="highlight_field_header"><%=l(:"bsc.label_target_margin")%></div>
	<div class="highlight_field_content"><%=percent(@target_margin)%></div>
</div>

<table class="list" id="mc_table">
	<theader>
		<tr>
			<th rowspan="2"><%=l(:"label_date")%></th>
			<th rowspan="2"><%=l(:"bsc.label_mc")%></th>
			<% if @incomes_trackers.length > 0 %>
				<th colspan="<%=@incomes_trackers.length%>"><%=l(:"bsc.label_incomes")%></th>
			<% end %>
			<% if @incomes_trackers.length > 0 or BSC::Integration.hr_plugin_enabled? %>
				<th colspan="<%=BSC::Integration.hr_plugin_enabled? ? @expenses_trackers.length + 1 : @expenses_trackers.length%>"><%=l(:"bsc.label_expenses")%></th>
			<% end %>
		</tr>
		<tr>
			<%@incomes_trackers.each do |tracker|%>
				<th><%= render_tracker_query_link(tracker) %></th>
			<% end %>
			<%@expenses_trackers.each do |tracker|%>
				<th><%= render_tracker_query_link(tracker) %></th>
			<% end %>	
			<% if BSC::Integration.hr_plugin_enabled? %>
				<th><%=l(:"bsc.label_hhrr")%></th>
			<% end %>
		</tr>
	</theader>
	<tbody>
		<% @table_data.each_with_index do |data,index| %>
			<tr id="<%='row_'+(@table_data.length - index - 1).to_s%>" class="row <%='hidden_row' if index>=5%>">
				<th><%=data[:date]%></th>
				<td><%=percent(data[:mc])%></td>
				<%@incomes_trackers.each do |tracker|%>
					<td><%= render_mc_table_cell(data[:total_income_details], tracker) %></td>
				<% end %>
				<%@expenses_trackers.each do |tracker|%>
					<td><%= render_mc_table_cell(data[:total_expenses_details], tracker) %></td>
				<% end %>
				<% if data[:total_expenses_details].keys.include?('RRHH') %>
					<td><%=currency(data[:total_expenses_details]['RRHH'])%></td>
				<% else %>
					<td><%=currency(0.0)%></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<% if @table_data.length > 5 %>
	<%=render_link_show_more('mc_table')%>
<% end %>

<div id="mc_chart" class="chart"></div>
<script>
	new Morris.Line({
		element: "mc_chart",
		data: <%=@chart_data.html_safe%>,
		hoverCallback: function(index, options, content) {
	  		text = "Variaciones:</br>";
	  		for (key in options.data[index]['income_details']){
	  			if (options.data[index]['income_details'][key] > 1 || options.data[index]['income_details'][key] < -1){
	  				text += key+": "+currency(options.data[index]['income_details'][key])+'</br>';
	  			}
	  		}
	  		for (key in options.data[index]['expenses_details']){
	  			if (options.data[index]['expenses_details'][key] > 1 || options.data[index]['expenses_details'][key] < -1){
	  				text += key+": "+currency(options.data[index]['expenses_details'][key])+'</br>';
	  			}
	  		}

	  		$('tr.active').removeClass('active');
	  		$('tr#row_'+index).addClass('active');
	  		total_incomes = '<span class="income_amount">Total Ingresos: '+currency(options.data[index]['total_income'])+'</span></br>';
	  		total_expenses = '<span class="expense_amount">Total Gastos: '+currency(options.data[index]['total_expenses'])+'</span></br>';

	        return(content+total_incomes+total_expenses+text);
	    },
	  	xkey: 'date',
	  	ykeys: ['mc'],
	  	labels: ['MC'],
	  	smooth: false,
	  	yLabelFormat: function(value){
	  		return percent(value)
	  	}
	});
</script>