<%= render_header_message('mc') %>
<div class="row">
  <div class="col-md-3">
  	<div class="panel panel-default panel-highlight">
  		<div class="panel-heading">
        <div class="panel_name"><%=l(:"bsc.label_margins")%></div>
      </div>
  		<div class="panel-body">
        <div class="highlight_metric">
          <div class="name"><%=l(:"bsc.label_scheduled_margin")%></div>
          <div class="value"><%=percent(@scheduled_margin)%></div>
        </div>
        <hr>
        <div class="highlight_metric">
          <div class="name"><%=l(:"bsc.label_target_margin")%></div>
          <div class="value"><%=percent(@target_margin)%></div>
        </div>
      </div>
  	</div>

    <div class="panel panel-default panel-highlight">
      <div class="panel-heading">
        <div class="panel_name"><%=l(:"bsc.label_expenses")%></div>
      </div>
      <div class="panel-body">
        <div class="highlight_metric">
          <div class="name"><%=l(:"bsc.label_scheduled_expenses")%></div>
          <div class="value"><%=currency(@scheduled_expenses)%></div>
        </div>
        <hr>
        <div class="highlight_metric">
          <div class="name"><%=l(:"bsc.label_target_expenses")%></div>
          <div class="value"><%=currency(@target_expenses)%></div>
        </div>
      </div>
    </div>

    <div class="panel panel-default panel-highlight">
      <div class="panel-heading">
        <div class="panel_name"><%=l(:"bsc.label_incomes")%></div>
      </div>
      <div class="panel-body">
        <div class="highlight_metric">
          <div class="name"><%=l(:"bsc.label_scheduled_incomes")%></div>
          <div class="value"><%=currency(@scheduled_incomes)%></div>
        </div>
        <hr>
        <div class="highlight_metric">
          <div class="name"><%=l(:"bsc.label_target_incomes")%></div>
          <div class="value"><%=currency(@target_incomes)%></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default panel-table expandible">
		  <div class="panel-heading">
        <div class="panel_name"><%=l(:"bsc.label_mc_evolution")%></div>
      </div>
		  <div class="panel-body">
  			<table class="list" id="mc_table">
  				<thead>
            <tr>
              <th colspan="4"></th>
              <% if @incomes_trackers.length > 0 %>
                <th colspan="<%=@incomes_trackers.length%>"><%=l(:"bsc.label_incomes")%></th>
              <% end %>
              <% if @incomes_trackers.length > 0 or BSC::Integration.hr_plugin_enabled? %>
                <th colspan="<%=BSC::Integration.hr_plugin_enabled? ? @expenses_trackers.length + 1 : @expenses_trackers.length%>"><%=l(:"bsc.label_expenses")%></th>
              <% end %>
            </tr>
  					<tr>
  						<th><%=l(:"label_date")%></th>
  						<th><%=l(:"bsc.label_mc")%></th>
              					<th><%=l(:"bsc.label_total_incomes")%></th>
              					<th><%=l(:"bsc.label_total_expenses")%></th>
  						<%@incomes_trackers.each do |tracker|%>
  							<th><%= render_tracker_query_link(tracker) %></th>
  						<% end %>
  						<%@expenses_trackers.each do |tracker|%>
  							<th><%= render_tracker_query_link(tracker) %></th>
  						<% end %>	
  						<% if BSC::Integration.hr_plugin_enabled? %>
  							<th><%=l(:"bsc.label_hhrr")%></th>
  						<% end %>
  					</tr>
  				</thead>
  				<tbody>
  					<% @table_data.each_with_index do |data,index| %>
  						<tr id="<%='row_'+(@table_data.length - index - 1).to_s%>" class="table_row">
  							<td><%=data[:date]%></td>
  							<td><%=percent(data[:mc])%></td>
                					<td><%=currency(data[:total_income])%></td>
                					<td><%=currency(data[:total_expenses])%></td>
  							<%@incomes_trackers.each do |tracker|%>
  								<td><%= render_mc_table_cell(data[:total_income_details], tracker) %></td>
  							<% end %>
  							<%@expenses_trackers.each do |tracker|%>
  								<td><%= render_mc_table_cell(data[:total_expenses_details], tracker) %></td>
  							<% end %>
                <% if BSC::Integration.hr_plugin_enabled? %>
    							<% if data[:total_expenses_details].keys.include?('RRHH') %>
    								<td><%=currency(data[:total_expenses_details]['RRHH'])%></td>
    							<% else %>
    								<td><%=currency(0.0)%></td>
    							<% end %>
                <% end %>
  						</tr>
  					<% end %>
  				</tbody>
  			</table>
		  </div>
      <div class="gradiant_layer"></div>
    </div>
    <%=render_link_show_more('mc_table')%>
	</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-chart">
      <div class="panel-heading">
        <div class="panel_name"><%=l(:"bsc.label_mc_evolution")%></div>
      </div>
      <div class="panel-body">
        <div id="mc_chart" class="chart"></div>
      </div>
    </div>
  </div>
</div>

<script>
  m = Morris.Line({
		element: "mc_chart",
    	resize: true,
		data: <%=@chart_data.html_safe%>,
		hoverCallback: function(index, options, content) {
        highlight_row($('tr#row_'+index));

        date = "<div class='chart_data_title'>"+options.data[index]['date']+"</div>";

        currency_exchange = <%=@currency.present? ? @currency.get_current_exchange : 1.0 %>;
        currency_json = '<%=@currency.present? ? @currency.attributes.to_json.html_safe : "{}"%>';

        mc = '<div class="chart_data mc"><span class="chart_value">'+percent(options.data[index]['mc'])+'</span><span class="chart_label">MC:</span></div>';
        total_incomes = '<div class="chart_data income_amount"><span class="chart_value">'+currency(options.data[index]['total_income'], currency_exchange, currency_json)+'</span><span class="chart_label"><%=l(:"bsc.label_total_incomes")%>:</span></div>';
        total_expenses = '<div class="chart_data expense_amount"><span class="chart_value">'+currency(options.data[index]['total_expenses'], currency_exchange, currency_json)+'</span><span class="chart_label"><%=l(:"bsc.label_total_expenses")%>:</span></div>';

        // text = "<span class='chart_data_subtitle'>Variaciones:</span>";
	  		text = "<div class='variations'>";
	  		for (key in options.data[index]['income_details']){
	  			if (options.data[index]['income_details'][key] > 1 || options.data[index]['income_details'][key] < -1){
	  				text += "<div class='chart_data'><span class='chart_value'>"+currency(options.data[index]['income_details'][key], currency_exchange, currency_json)+"</span><span class='chart_label'>"+key+":</span></div>";
	  			}
	  		}
	  		for (key in options.data[index]['expenses_details']){
	  			if (options.data[index]['expenses_details'][key] > 1 || options.data[index]['expenses_details'][key] < -1){
            text += "<div class='chart_data'><span class='chart_value'>"+currency(options.data[index]['expenses_details'][key], currency_exchange, currency_json)+"</span><span class='chart_label'>"+key+":</span></div>";
	  			}
	  		}
        text += "</div>"     

        return(date+mc+total_incomes+total_expenses+text);
	    },
	  	xkey: 'date',
	  	ykeys: ['mc'],
	  	labels: ['MC'],
      	lineColors: ['#9FCCF1'],
      	pointFillColors: ['#459DE3'],
      	smooth: false,
	  	yLabelFormat: function(value){
	  		return percent(value)
	  	}
	});

  // Force to redraw for apply correct width to chart
  $(document).ready(function(){
    m.redraw();
  });
</script>